<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="panel-title">登录</div>
    </div>

    <div class="panel-body">
      <form id="loginForm" class="form-horizontal" role="form">

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input ng-model="auth.email" type="text" class="form-control" name="email" placeholder="电子邮箱">
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input ng-model="auth.password" type="password" class="form-control" name="password" placeholder="密码">
        </div>

        <a class="btn btn-success">登录</a>

        <a ng-href="#/signup">注册账号</a>

      </form>
    </div>

  </div>
</div>
